In [3]:
import numpy as np
import pandas as pd

In [7]:
df = pd.read_csv("../source/BAMLHYH0A0HYM2TRIV_PCH.csv").rename(columns={'BAMLHYH0A0HYM2TRIV_PCH': 'BofA US High Yield Index'})

In [10]:

## Converts YYYY-MM-DD to MM-YYYY
def date_conversion(string):
    temp = string
    month = string[5:7]
    year = string[:4]
    return(month+"/"+year)

def normalize(df):
    X = df[['BofA US High Yield Index']]
    X['DATE'] = df['DATE'].apply(lambda x: date_conversion(x))
    return X

In [11]:
df.head()

         DATE BofA US High Yield Index
0  2013-01-01                  1.72599
1  2013-02-01                  0.01382
2  2013-03-01                  1.12919
3  2013-04-01                  1.08526
4  2013-05-01                  1.56912

In [13]:
X = normalize(df)
X.head()

  BofA US High Yield Index     DATE
0                  1.72599  01/2013
1                  0.01382  02/2013
2                  1.12919  03/2013
3                  1.08526  04/2013
4                  1.56912  05/2013

In [14]:
X.to_csv("../dataset/BAMLHYH0A0HYM2TRIV_PCH.csv")