<h1>Sticky Price Consumer Price Index less Food and Energy (CORESTICKM159SFRBATL) </h1>
<p> The Sticky Price Consumer Price Index (CPI) is calculated from a subset of goods and services included in the CPI that change price relatively infrequently. Because these goods and services change price relatively infrequently, they are thought to incorporate expectations about future inflation to a greater degree than prices that change on a more frequent basis. One possible explanation for sticky prices could be the costs firms incur when changing price.

</p>
https://fred.stlouisfed.org/series/CORESTICKM159SFRBATL

In [2]:
import numpy as np
import pandas as pd

In [8]:
df = pd.read_csv("../source/CPI_STICKY.csv").rename(columns={'CORESTICKM159SFRBATL': 'CPI STICKY'})
df

           DATE  CPI STICKY
0    2014-01-01    1.821814
1    2014-02-01    1.789186
2    2014-03-01    1.820857
3    2014-04-01    2.025161
4    2014-05-01    2.128235
..          ...         ...
101  2022-06-01    5.425963
102  2022-07-01    5.629465
103  2022-08-01    5.990544
104  2022-09-01    6.393735
105  2022-10-01    6.367826

[106 rows x 2 columns]

In [9]:

## Converts YYYY-MM-DD to MM-YYYY
def date_conversion(string):
    temp = string
    month = string[5:7]
    year = string[:4]
    return(month+"/"+year)

def normalize(df):
    X = df[['CPI STICKY']]
    X['DATE'] = df['DATE'].apply(lambda x: date_conversion(x))
    return X

In [10]:
df.head()

         DATE  CPI STICKY
0  2014-01-01    1.821814
1  2014-02-01    1.789186
2  2014-03-01    1.820857
3  2014-04-01    2.025161
4  2014-05-01    2.128235

In [13]:
X = normalize(df)
X.head()

len(X['CPI STICKY'].unique())

106

In [15]:
X.to_csv("../dataset/CPI_STICKY.csv")