<h1>Federal Funds Effective Rate (DFF) </h1>
<p>The federal funds rate is the interest rate at which depository institutions trade federal funds (balances held at Federal Reserve Banks) with each other overnight. When a depository institution has surplus balances in its reserve account, it lends to other banks in need of larger balances. In simpler terms, a bank with excess cash, which is often referred to as liquidity, will lend to another bank that needs to quickly raise liquidity. (1) The rate that the borrowing institution pays to the lending institution is determined between the two banks; the weighted average rate for all of these types of negotiations is called the effective federal funds rate.(2) The effective federal funds rate is essentially determined by the market but is influenced by the Federal Reserve through open market operations to reach the federal funds rate target.(2)</p>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("../source/DFF.csv")

In [3]:

## Converts YYYY-MM-DD to MM-YYYY
def date_conversion(string):
    temp = string
    month = string[5:7]
    year = string[:4]
    return(month+"/"+year)

def normalize(df):
    X = df[['DFF']]
    X['DATE'] = df['DATE'].apply(lambda x: date_conversion(x))
    return X

def average_DGS(df):
    months = df['DATE'].unique()
    result = {'Average DGS': [], 'DATE': []}
    
    for m in months:
        item = df[df['DATE']==m]
        item = item[item['DGS10'] != '.']
        average = item['DGS10'].astype('float').mean()
        result['DATE'].append(m)
        result['Average DGS'].append(average) 
    result = pd.DataFrame.from_dict(result)
    return result

In [4]:
print(df.head())
df = normalize(df)
df.tail()

         DATE       DFF
0  2013-01-01  0.142581
1  2013-02-01  0.145000
2  2013-03-01  0.143548
3  2013-04-01  0.145000
4  2013-05-01  0.109032

          DFF     DATE
113  1.205000  06/2022
114  1.675806  07/2022
115  2.330000  08/2022
116  2.555000  09/2022
117  3.080000  10/2022