<h1>Market Yield on U.S. Treasury Securities at 10-Year Constant Maturity</h1>
<p>Quoted on an Investment Basis (DGS10) *** This has some movement in the graph maybe good to train on ****</p>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("../source/DGS10.csv")

In [3]:

## Converts YYYY-MM-DD to MM-YYYY
def date_conversion(string):
    temp = string
    month = string[5:7]
    year = string[:4]
    return(month+"/"+year)

def normalize(df):
    X = df[['DGS10']]
    X['DATE'] = df['DATE'].apply(lambda x: date_conversion(x))
    return X

def average_DGS(df):
    months = df['DATE'].unique()
    result = {'Average DGS': [], 'DATE': []}
    
    for m in months:
        item = df[df['DATE']==m]
        item = item[item['DGS10'] != '.']
        average = item['DGS10'].astype('float').mean()
        result['DATE'].append(m)
        result['Average DGS'].append(average) 
    result = pd.DataFrame.from_dict(result)
    return result

In [4]:
df
print(df.head())
X = normalize(df)
print(X.head(5))
print(average_DGS(X).head())

         DATE DGS10
0  2013-08-01  2.74
1  2013-08-02  2.63
2  2013-08-05  2.67
3  2013-08-06  2.67
4  2013-08-07  2.61
  DGS10     DATE
0  2.74  08/2013
1  2.63  08/2013
2  2.67  08/2013
3  2.67  08/2013
4  2.61  08/2013
   Average DGS     DATE
0     2.737273  08/2013
1     2.809500  09/2013
2     2.615909  10/2013
3     2.718421  11/2013
4     2.901905  12/2013

In [5]:

## LOOKS LIKE THERE ARE . or some kinda anomoly in the data

new_DGS = average_DGS(X)

In [6]:
new_DGS

     Average DGS     DATE
0       2.737273  08/2013
1       2.809500  09/2013
2       2.615909  10/2013
3       2.718421  11/2013
4       2.901905  12/2013
..           ...      ...
105     2.898095  05/2022
106     3.143333  06/2022
107     2.896000  07/2022
108     2.897826  08/2022
109     3.519048  09/2022

[110 rows x 2 columns]

In [7]:
df.tail()

            DATE DGS10
2387  2022-09-26  3.88
2388  2022-09-27  3.97
2389  2022-09-28  3.72
2390  2022-09-29  3.76
2391  2022-09-30  3.83