<h1>30-Year Fixed Rate Mortgage Average in the United States (MORTGAGE30US) </h1>
<p>On November 17, 2022, Freddie Mac changed the methodology of the Primary Mortgage Market Survey® (PMMS®). The weekly mortgage rate is now based on applications submitted to Freddie Mac from lenders across the country. For more information regarding Freddie Mac’s enhancement, see their research note.</p>

In [50]:
import numpy as np
import pandas as pd

In [51]:
df = pd.read_csv("../source/MORTGAGE30US.csv")
df.head()

         DATE  MORTGAGE30US
0  2014-01-01        4.4320
1  2014-02-01        4.3025
2  2014-03-01        4.3425
3  2014-04-01        4.3375
4  2014-05-01        4.1920

In [52]:

## Converts YYYY-MM-DD to MM-YYYY
def date_conversion(string):
    temp = string
    month = string[5:7]
    year = string[:4]
    return(month+"/"+year)

def normalize(df):
    X = df[['MORTGAGE30US']]
    X['DATE'] = df['DATE'].apply(lambda x: date_conversion(x))
    return X

def average_MORT(df):
    months = df['DATE'].unique()
    result = {'Average DGS': [], 'DATE': []}
    
    for m in months:
        item = df[df['DATE']==m]
        item = item[item['MORTGAGE30US'] != '.']
        average = item['DGS10'].astype('float').mean()
        result['DATE'].append(m)
        result['Average DGS'].append(average) 
    result = pd.DataFrame.from_dict(result)
    return result

In [53]:
print(df.head())
df = normalize(df)
df.head(10)

         DATE  MORTGAGE30US
0  2014-01-01        4.4320
1  2014-02-01        4.3025
2  2014-03-01        4.3425
3  2014-04-01        4.3375
4  2014-05-01        4.1920

   MORTGAGE30US     DATE
0        4.4320  01/2014
1        4.3025  02/2014
2        4.3425  03/2014
3        4.3375  04/2014
4        4.1920  05/2014
5        4.1625  06/2014
6        4.1300  07/2014
7        4.1150  08/2014
8        4.1625  09/2014
9        4.0360  10/2014

## VERIFY THAT THERE IS:
## ONLY NUMBERICAL DATA IN MORT30  &&
## EVERY DATE IS UNIQUE

In [55]:
date_array = df['DATE'].unique()
print(len(date_array))

107

In [56]:
mort_array = df['MORTGAGE30US'].unique()
mort_array.mean()

3.9365873786407777