<h1>30-Year Fixed Rate Mortgage Average in the United States (MORTGAGE30US) </h1>
<p>On November 17, 2022, Freddie Mac changed the methodology of the Primary Mortgage Market Survey® (PMMS®). The weekly mortgage rate is now based on applications submitted to Freddie Mac from lenders across the country. For more information regarding Freddie Mac’s enhancement, see their research note.</p>

In [19]:
import numpy as np
import pandas as pd

In [20]:
df = pd.read_csv("../source/MORTGAGE30US.csv")
df.head()

         DATE  MORTGAGE30US
0  2014-01-02          4.53
1  2014-01-09          4.51
2  2014-01-16          4.41
3  2014-01-23          4.39
4  2014-01-30          4.32

In [6]:

## Converts YYYY-MM-DD to MM-YYYY
def date_conversion(string):
    temp = string
    month = string[5:7]
    year = string[:4]
    return(month+"/"+year)

def normalize(df):
    X = df[['MORTGAGE30US']]
    X['DATE'] = df['DATE'].apply(lambda x: date_conversion(x))
    return X

def average_DGS(df):
    months = df['DATE'].unique()
    result = {'Average DGS': [], 'DATE': []}
    
    for m in months:
        item = df[df['DATE']==m]
        item = item[item['DGS10'] != '.']
        average = item['DGS10'].astype('float').mean()
        result['DATE'].append(m)
        result['Average DGS'].append(average) 
    result = pd.DataFrame.from_dict(result)
    return result

In [18]:
print(df.head())
df = normalize(df)
df.tail()

   MORTGAGE30US     DATE
0          4.53  ///////
1          4.51  ///////
2          4.41  ///////
3          4.39  ///////
4          4.32  ///////

     MORTGAGE30US     DATE
455          6.29  ///////
456          6.70  ///////
457          6.66  ///////
458          6.92  ///////
459          6.94  ///////

## VERIFY THAT THERE IS ONLY NUMBERICAL DATA
## SELECT UNIQUE ELEMENTS AND THEN RUN MEAN

In [17]:
array = df['MORTGAGE30US'].unique()
array.mean()

4.007587939698492