<h1>NASDAQ Composite Index (NASDAQCOM) (PERCENT CHANGE)</h1>
<p>https://fred.stlouisfed.org/series/NASDAQCOM#0
    
NASDAQCOM.csv</p>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("../source/NASDAQCOM.csv")

In [3]:
## Converts YYYY-MM-DD to MM-YYYY
def date_conversion(string):
    temp = string
    month = string[5:7]
    year = string[:4]
    return(month+"/"+year)

def normalize(df):
    ## DROP any row with '.'
    df = df[df['NASDAQCOM_PCH'] != '.']
    X = df[['NASDAQCOM_PCH']].astype('float')
    X['DATE'] = df['DATE'].apply(lambda x: date_conversion(x))
    return X

In [4]:
df = normalize(df)
df
## Values must
##df['NASDAQCOM_PCH'].astype('float').mean()

     NASDAQCOM_PCH     DATE
0          5.46284  01/2012
1          6.74925  02/2012
2          3.65094  03/2012
3         -0.02683  04/2012
4         -4.43782  05/2012
..             ...      ...
125       -3.47270  06/2022
126        1.78399  07/2022
127        8.15331  08/2022
128       -9.28708  09/2022
129       -5.27373  10/2022

[130 rows x 2 columns]