<h1>
Zillow Home Value Index (ZHVI) for All Homes PERCENT CHANGE</h1>
<p>Including Single-Family Residences, Condos, and CO-OPs in California (CAUCSFRCONDOSMSAMID)</p>

In [17]:
import numpy as np
import pandas as pd

In [18]:
## Converts YYYY-MM-DD to MM-YYYY
def date_conversion(string):
    temp = string
    month = string[5:7]
    year = string[:4]
    return(month+"/"+year)

def normalize(df):
    X = df[['CAUCSFRCONDOSMSAMID_PCH']]
    X['DATE'] = df['DATE'].apply(lambda x: date_conversion(x))
    return X

In [19]:
df = pd.read_csv("../source/ZIL_HVI.csv")

In [20]:
df
normalize(df)

     CAUCSFRCONDOSMSAMID_PCH     DATE
0                   -0.07020  01/2012
1                   -0.08430  02/2012
2                    0.04721  03/2012
3                    0.23258  04/2012
4                    0.41366  05/2012
..                       ...      ...
124                  1.39058  05/2022
125                  0.29177  06/2022
126                 -0.40032  07/2022
127                 -1.15309  08/2022
128                 -0.93387  09/2022

[129 rows x 2 columns]